@import "./variables";

// COLORS ------------------------------------
.text-light-gray {
  color: $light-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.bg-lighter-gray {
  background-color: $lighter-gray;
}

.bg-dark-purple {
  background-color: $dark-purple;
}


// CONTENT -----------------------------------
.subtitle {
  font-size: 12px;
  color: $dark-gray;
  font-weight: 500;
  text-transform: uppercase;
}